/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background: #f7f7f7;
}
html {
  height: 2000px;
}
.home-section{
  position: relative;
  width: 100%;
  height: 500px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transition: all 0.5s ease;
}