<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/styles/defaults.css">
    <link rel="stylesheet" href="../static/styles/nav_bar.css">
    <link rel="stylesheet" href="../static/styles/access_forms.css">
    <link rel="stylesheet" href="../static/styles/admin-dashboard.css">
    <link rel="icon" href="../static/images/athleats-logo.png">
    <title> Admin Dashboard - AthlEats </title>
   </head>

  <body>
    <section class="home-section">
      <nav>
          <img onclick="location.href = '/'" class="athleats-logo" src="../static/images/athleats-logo.png" alt="AthlEats Logo">

          {% if not user %}
              <div class="access-buttons-section">
                  <button onclick="show_form('login-form')" id="login-button" class="access-button"> LOGIN </button>
                  <button onclick="show_form('signup-form')" id="signup-button" class="access-button"> SIGNUP </button>
              </div>
          {% else %}
              <div class="profile-details">
                <i class="bx bx-user-circle guest-profile-picture"></i>
                <span class="admin_name">{{user.first_name | capitalize}} {{user.last_name | capitalize }}</span>
                <i class='arrow bx bx-chevron-down' ></i>

              </div>
              <div style="visibility: hidden" class="profile-dropdown">
                      <ul>
                          <li id="profile-selection" onclick="location.href = '/profile'" ><a href="/profile">Profile</a></li>
                          <li onclick="show_form('settings-form')" id="settings-selection">Settings</li>
                          {% if user.staff %}
                              <script>document.querySelector(".profile-dropdown").style.marginTop = "250px";</script>
                              <li onclick="location.href = '/staff-dashboard'" ><a href="/staff-dashboard">Staff Dashboard</a></li>
                          {% endif %}
                          {% if user.admin %}
                              <script>document.querySelector(".profile-dropdown").style.marginTop = "300px";</script>
                              <li onclick="location.href = '/admin-dashboard'" ><a href="/admin-dashboard">Admin Dashboard</a></li>

                          {% endif %}
                          <li onclick="location.href = '/logout'" class="last-option"><a href="/logout">Logout</a></li>
                      </ul>
                </div>

          {% endif %}


      </nav>

      <div class="home-content">

          <!-- Admin Data Details -->
          <div class="admin-data-container">
              <h3 class="admin-data-title">Admin Data</h3>
              <div class="admin-data-list">
                  <div id="current-orders-data" class="access-form">
                      <div class="admin-data form-section">
                          <div class="form-header">
                              <div class="form-header-name-container">
                                  <i class='bx bx-receipt' ></i>
                                  <h3>Current Orders</h3>
                              </div>
                              <div class="search-box">
                                <label>
                                    <input onkeyup="filterAdminTable('current-orders-data')" type="text" placeholder="Search...">
                                </label>
                                <i class='bx bx-filter-alt' ></i>
                            </div>
                        </div>
                          <div class="admin-table-container">
                              <table id="myTable">
                                <tbody>
                                  <tr class="header">
                                    <th>Email</th>
                                    <th>Order Date</th>
                                    <th>Order Id</th>
                                    <th>Phone Number</th>
                                    <th>Runner</th>
                                    <th>Restaurant</th>
                                    <th>Restaurant Pickup Time</th>
                                    <th>Pickup Time</th>
                                    <th>Price</th>
                                    <th>Fee</th>
                                    <th>Pickup Location</th>
                                    <th></th>
                                  </tr>
                                  {% for order in incomplete_orders %}
                                  <tr>
                                      <td>{{order.email}}</td>
                                      <td>{{order.order_date}}</td>
                                      <td>{{order.entry_id}}</td>
                                      <td>{{order.phone_number}}</td>
                                      <td>{{order.runner_entry_id}}</td>
                                      <td>{{order.restaurant}}</td>
                                      <td>{{order.restaurant_pickup_time}}</td>
                                      <td>After School</td>
                                      <td>${{order.price}}</td>
                                      <td>${{calculate_fees(order.price)}}</td>
                                      <td>{{order.pickup_location}}</td>
                                      <td class="update-order-button">
                                          <form action="/order-complete" method="post">
                                              <input type="hidden" id="entry_id" name="entry_id" value={{order.entry_id}}>
                                              <button class="update-order-button" name="update-order" value="update-order" type="submit">
                                                  Update Order </button>
                                          </form>
                                      </td>
                                  </tr>
                                  {% endfor %}

                                </tbody>
                              </table>
                          </div>

                      </div>
                  </div>
                  <div id="past-orders-data" class="access-form">
                      <div class="admin-data form-section">
                          <div class="form-header">
                            <div class="form-header-name-container">
                                  <i class='bx bx-receipt' ></i>
                                  <h3>Completed Orders</h3>
                            </div>
                              <div class="search-box">
                                <label>
                                    <input onkeyup="filterAdminTable('past-orders-data')" type="text" placeholder="Search...">
                                </label>
                                <i class='bx bx-filter-alt' ></i>
                            </div>
                        </div>
                          <div class="admin-table-container">
                              <table id="myTable">
                                <tbody>
                                  <tr class="header">
                                    <th>Email</th>
                                    <th>Order Date</th>
                                    <th>Order Id</th>
                                    <th>Phone Number</th>
                                    <th>Runner</th>
                                    <th>Restaurant</th>
                                    <th>Restaurant Pickup Time</th>
                                    <th>Pickup Time</th>
                                    <th>Price</th>
                                    <th>Fee</th>
                                    <th>Pickup Location</th>
                                    <th></th>
                                  </tr>
                                  {% for order in completed_orders %}
                                  <tr>
                                      <td>{{order.email}}</td>
                                      <td>{{order.order_date}}</td>
                                      <td>{{order.entry_id}}</td>
                                      <td>{{order.phone_number}}</td>
                                      <td>{{order.runner_entry_id}}</td>
                                      <td>{{order.restaurant}}</td>
                                      <td>{{order.restaurant_pickup_time}}</td>
                                      <td>After School</td>
                                      <td>${{order.price}}</td>
                                      <td>${{calculate_fees(order.price)}}</td>
                                      <td>{{order.pickup_location}}</td>
                                      <td class="view-profile-button"><i class="bx bxs-user-account" ></i></td>
                                  </tr>
                                  {% endfor %}

                                </tbody>
                              </table>
                          </div>

                      </div>
                    </div>
                  <div id="users-data" class="access-form">
                      <div class="admin-data form-section">
                          <div class="form-header">
                            <div class="form-header-name-container">
                              <i class='bx bx-user-circle'></i>
                              <h3>Users</h3>
                            </div>
                              <div class="search-box">
                                <label>
                                    <input onkeyup="filterAdminTable('users-data')" type="text" placeholder="Search...">
                                </label>
                                <i class='bx bx-filter-alt' ></i>
                            </div>
                        </div>
                          <div class="admin-table-container">
                              <table id="myTable">
                                <tbody>
                                  <tr class="header">
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Creation Date</th>
                                    <th>Year</th>
                                    <th>Admin</th>
                                    <th>Staff</th>
                                    <th>Entry ID</th>
                                    <th></th>
                                  </tr>
                                    {% for user_inst in user_list %}
                                      <tr>
                                          <td><input value="{{user_inst.first_name | capitalize}} {{user_inst.last_name | capitalize}}"></td>
                                          <td>{{user_inst.email | capitalize}}</td>
                                          <td>{{user_inst.creation_date}}</td>
                                          <td>{{user_inst.year_name}}</td>
                                          <td>{{user_inst.admin}}</td>
                                          <td>{{user_inst.staff}}</td>
                                          <td>{{user_inst.entry_id}}</td>
                                          <td class="view-profile-button"><i class="bx bxs-user-account" ></i></td>
                                      </tr>
                                    {% endfor %}


                                </tbody>
                              </table>
                          </div>
                      </div>
                    </div>
                  <div id="staff-data" class="access-form">
                      <div class="admin-data form-section">
                          <div class="form-header">
                            <div class="form-header-name-container">
                              <i class='bx bxs-user-badge'></i>
                              <h3>Staff Members</h3>
                            </div>
                              <div class="search-box">
                                <label>
                                    <input onkeyup="filterAdminTable('staff-data')" type="text" placeholder="Search...">
                                </label>
                                <i class='bx bx-filter-alt' ></i>
                            </div>
                        </div>
                          <div class="admin-table-container">
                              <table id="myTable">
                                <tbody>
                                  <tr class="header">
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Grade</th>
                                    <th>Creation Date</th>
                                    <th></th>
                                  </tr>
                                  {% for user in staff_list %}
                                          <tr>
                                              <td>{{user.first_name + " " + user.last_name}}</td>
                                              <td>{{user.email}}</td>
                                              <td>{{user.grade}}</td>
                                              <td>{{user.creation_date}}</td>
                                              <td class="view-profile-button"><i class="bx bxs-user-account" ></i></td>
                                          </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                          </div>

                      </div>
                    </div>

              </div>
          </div>

      </div>
    </section>
  </body>

  <!-- Search/Filter Bar -->
  <script>
    function filterAdminTable(data_id) {
      // Declare variables
      var input, filter, table, tr, td, i, txtValue;
      console.log("#" + data_id + " .search-box input")
      input = document.querySelector("#" + data_id + " .search-box input");
      filter = input.value.toUpperCase();
      table = document.querySelector("#" + data_id + " #myTable");
      tr = table.getElementsByTagName("tr");

      // Loop through all table rows, and hide those who don't match the search query
      for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[0];
        if (td) {
          txtValue = td.textContent || td.innerText;
          if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
          } else {
            tr[i].style.display = "none";
          }
        }
      }
    }
</script>

  {% if user %}
    <script src="../static/scripts/profile_dropdown.js"></script>
  {% endif %}

</html>

