<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/styles/defaults.css">
    <link rel="stylesheet" href="../static/styles/nav_bar.css">
    <link rel="stylesheet" href="../static/styles/access_forms.css">
    <link rel="stylesheet" href="../static/styles/home.css">
      <link rel="icon" href="../static/images/athleats-logo.png">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home - AthlEats </title>
   </head>

  <body>
    <section class="home-section">
      <nav>
          <img onclick="location.href = '/'" class="athleats-logo" src="../static/images/athleats-logo.png" alt="athleats-logo">

            {% if not user %}
              <div class="access-buttons-section">
                  <button onclick="show_form('login-form')" id="login-button" class="access-button"> LOGIN </button>
                  <button onclick="show_form('signup-form')" id="signup-button" class="access-button"> SIGNUP </button>
              </div>
          {% else %}
              <div class="profile-details">
                <i class="bx bx-user-circle guest-profile-picture"></i>
                <span class="admin_name">{{user.first_name | capitalize}} {{user.last_name | capitalize }}</span>
                <i class='arrow bx bx-chevron-down' ></i>

              </div>
              <div style="visibility: hidden" class="profile-dropdown">
                      <ul>
                          <li id="profile-selection" onclick="location.href = '/profile'" ><a href="/profile">Profile</a></li>
                          <li onclick="document.location.href = document.location.origin + '/settings'" id="settings-selection">Settings</li>
                          {% if user.staff %}
                              <script>document.querySelector(".profile-dropdown").style.marginTop = "250px";</script>
                              <li onclick="location.href = '/staff-dashboard'" ><a href="/staff-dashboard">Staff Dashboard</a></li>
                          {% endif %}
                          {% if user.admin %}
                              <script>document.querySelector(".profile-dropdown").style.marginTop = "300px";</script>
                              <li onclick="location.href = '/admin-dashboard'" ><a href="/admin-dashboard">Admin Dashboard</a></li>

                          {% endif %}
                          <li onclick="location.href = '/logout'" class="last-option"><a href="/logout">Logout</a></li>
                      </ul>
                </div>

          {% endif %}


      </nav>

      <div class="home-content">
          <div class="home-content-buttons">
              {% if user %}
                  <span class="welcome-message">Welcome, {{ user.first_name | capitalize }}.</span>
                  <form method="get" action="/reserve-calendar?month=">
                      <button class="reserve-pickup-button">
                          <span class="front">
                            reserve pickup
                          </span>
                      </button>
                  </form>
              {% else %}
                  <span id="guest-welcome-message" class="welcome-message">Welcome. Sign up or log in to reserve a pickup.</span>
              {% endif %}
          </div>

          <!-- HIDDEN -->
          <!-- Signup Form -->
          <div style="display: none;" id="signup-form" class="access-form">
            <div class="signup-form form-section">
                <i onclick="hide_form('signup-form')" class='bx bx-x'></i>
                <div class="form-header">
                <h3>AthlEats SIGNUP</h3>
                <p>Please enter details to signup.</p>
              </div>
                <form name="signup" method="post">
                    <label>
                        <input required type="text" name="email" placeholder="email">
                    </label>
                    <label>
                        <input required type="password" name="pass" placeholder="password">
                    </label>
                    <label for="grade"></label><select required class="form-selection" name="grade" id="grade">
                            <option class="form-selection-placeholder" value="" disabled selected>grade</option>
                            <option style="color: #f4f4f4" value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                          </select>
                    <label for="tos"></label><select required class="form-selection" name="tos" id="tos">
                            <option class="form-selection-placeholder" value="" disabled selected>terms of service</option>
                            <option value="agree">agree</option>
                          </select>



                          <p style="display: none;" class="error-occurrence" id="error-occurrence">{{ signup_message }}</p>
                          <button id="submit-form-button" type="submit" value="SIGNUP" onclick="hide_button('submit-form-button')">SIGNUP</button>
                          <p class="message">Already have an account?
                            <a href="/login">Login here</a>
                          </p>
                            <a class="tos-agree-link" target="_blank" rel="noopener noreferrer" href="/terms-of-service">terms of service.</a>

              </form>
            </div>
          </div>
          <!-- Login Form -->
          <div style="display: none;" id="login-form" class="access-form">

              <div class="login-form form-section">
                  <i onclick="hide_form('login-form')" class='bx bx-x'></i>
                  <div class="form-header">
                    <h3>AthlEats LOGIN</h3>
                    <p>Please enter credentials to login.</p>
                </div>

                  <form name="login" method="post">
                      <label>
                          <input required type="text" name="email" placeholder="email">
                      </label>
                      <label>
                          <input required type="password" name="pass" placeholder="password">
                      </label>


                      <p style="display: none;" class="error-occurrence" id="error-occurrence">{{ message }}</p>

                      <button id="submit-form-button" type="submit" value="LOGIN" >LOGIN</button>
                      <p class="message">Not registered?
                        <a href="/login">Create an account</a>
                      </p>

                  </form>
              </div>
          </div>

          <div class="popular-restaurants">
              <h3>Popular Restaurants</h3>
              <div class="restaurant-list">
                  <div class="restaurant-visual">
                      <img src="https://www.godairyfree.org/wp-content/uploads/2007/10/fast-food-chipotle.jpg" alt="">

                      <span class="restaurant-title">
                          Chipotle
                      </span>
                      <span class="restaurant-desc">
                          burritos, bowls, tacos, quesadillas, and salads
                      </span>
                  </div>
                  <div class="restaurant-visual">
                      <img src="https://people.com/thmb/Wbnc1QnC6GqU9ix5BrMZUmJRn1o=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():focal(704x471:706x473)/Dunkin-Early-Summer-Items-ff2fb326634b44e093cb667cf4e87b4c.jpg" alt="">
                      <span class="restaurant-title">
                          Dunkin Donuts
                      </span>
                      <span class="restaurant-desc">
                          freshly crafted beverages, sandwiches, and snacks served in a variety of delicious flavors
                      </span>
                  </div>
                  <div class="restaurant-visual">
                      <img src="https://www.mcdonalds.com/content/dam/sites/usa/nfl/publication/2PUB_Loyalty_Tiers_6000_574x384.jpg" alt="">
                      <span class="restaurant-title">
                          McDonalds
                      </span>
                      <span class="restaurant-desc">

                      </span>
                  </div>
                  <div class="restaurant-visual">
                      <img src="https://stories.starbucks.com/uploads/2022/10/SBX20221102-Holiday-Launch-FeatureHorizontal-768x373.jpg" alt="">
                      <span class="restaurant-title">
                          Starbucks
                      </span>
                      <span class="restaurant-desc">

                      </span>
                  </div>
                  <div class="restaurant-visual">
                      <img src="https://www.tastingtable.com/img/gallery/20-best-panera-menu-items-ranked/l-intro-1647314434.jpg" alt="">
                      <span class="restaurant-title">
                          Panera
                      </span>
                      <span class="restaurant-desc">

                      </span>
                  </div>
                  <div class="restaurant-visual">
                      <img src="http://cdn.cnn.com/cnnnext/dam/assets/220615140856-five-years-five-guys-photo-2022-super-tease.jpg" alt="">
                      <span class="restaurant-title">
                          Five Guys
                      </span>
                      <span class="restaurant-desc">

                      </span>
                  </div>
              </div>

          </div>

          <div class="process-visual-container">
              <div class="process-visual">
                  <div class="process-step">
                      <i class='bx bx-store-alt'></i>
                      <span class="process-info">
                          Place an order at your favorite restaurant.
                      </span>
                  </div>
                  <div class="process-step">
                      <i class='bx bx-receipt' ></i>
                      <span class="process-info">
                          Receipt message here
                      </span>
                  </div>
                  <div class="process-step">
                    <img src="../static/images/car.png" alt="car">
                    <span class="process-info">
                        Driving message here.
                    </span>
                  </div>
                  <div class="process-step">
                      <i class='bx bx-bowl-hot' ></i>
                      <span class="process-info">
                          Food message here
                      </span>
                  </div>
                  <div class="process-step">
                      <i class='bx bxs-school' ></i>
                      <span class="process-info">
                          School message here
                      </span>
                  </div>
              </div>
          </div>
        <div class="athleats-photos-container">
             <div class="photo">
                <img alt="BIG MAN" src="https://mail.google.com/mail/u/0?ui=2&ik=f123af63c5&attid=0.1.1&permmsgid=msg-f:1751745326026365869&th=184f7317c6c09bad&view=fimg&fur=ip&sz=s0-l75-ft&attbid=ANGjdJ9oQYpR7Ohi2Z_iOMbumft2B72He0LpMAjO6cQlh4nDWt88lvsvfecSzBygh78rNGM_05nM9Pv967Had9jtrHLKu-5Lu863jvpSwkZxCfSXys-vUuRIG2AWq1U&disp=emb">
<!--{#                <i class='bx bxs-circle'></i>#}-->
<!--                <span class="photo-caption"></span>-->
                 <img alt="BIG MAN" src="https://thumbs.dreamstime.com/b/ceo-stamp-seal-print-distress-texture-seal-shape-rounded-rectangle-frame-blue-vector-rubber-print-ceo-tag-135337692.jpg">

            </div>
            <div class="photo">
                <img alt="the crew" src="../static/images/athleats-crew.jpg">
{#                <i class='bx bxs-circle'></i>#}
                <span class="photo-caption">The developers</span>
            </div>
        </div>




      </div>
    </section>
  </body>

  <!-- Popup Forms -->
  <script src="../static/scripts/access-forms.js"></script>

  {% if user %}
    <script src="../static/scripts/profile_dropdown.js"></script>
  {% endif %}

</html>
