<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/styles/defaults.css">
    <link rel="stylesheet" href="../static/styles/nav_bar.css">
    <link rel="stylesheet" href="../static/styles/access_forms.css">
    <link rel="stylesheet" href="../static/styles/home.css">
      <link rel="icon" href="../static/images/athleats-logo.png">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home - AthlEats </title>
   </head>

  <body>
    <section class="home-section">
      <nav>
          <img onclick="location.href = '/'" class="athleats-logo" src="../static/images/athleats-logo.png" alt="athleats-logo">

            {% if not user %}
              <div class="access-buttons-section">
                  <button onclick="show_form('login-form')" id="login-button" class="access-button"> LOGIN </button>
                  <button onclick="show_form('signup-form')" id="signup-button" class="access-button"> SIGNUP </button>
              </div>
          {% else %}
              <div class="profile-details">
                <i class="bx bx-user-circle guest-profile-picture"></i>
                <span class="admin_name">{{user.first_name | capitalize}} {{user.last_name | capitalize }}</span>
                <i class='arrow bx bx-chevron-down' ></i>

              </div>
              <div style="visibility: hidden" class="profile-dropdown">
                      <ul>
                          <li id="profile-selection" onclick="location.href = '/profile'" ><a href="/profile">Profile</a></li>
                          <li onclick="document.location.href = document.location.origin + '/settings'" id="settings-selection">Settings</li>
                          {% if user.staff %}
                              <script>document.querySelector(".profile-dropdown").style.marginTop = "250px";</script>
                              <li onclick="location.href = '/staff-dashboard'" ><a href="/staff-dashboard">Staff Dashboard</a></li>
                          {% endif %}
                          {% if user.admin %}
                              <script>document.querySelector(".profile-dropdown").style.marginTop = "300px";</script>
                              <li onclick="location.href = '/admin-dashboard'" ><a href="/admin-dashboard">Admin Dashboard</a></li>

                          {% endif %}
                          <li onclick="location.href = '/logout'" class="last-option"><a href="/logout">Logout</a></li>
                      </ul>
                </div>

          {% endif %}


      </nav>

      <div class="home-content">
          <div class="home-content-buttons">
              {% if user %}
                  <span class="welcome-message">Welcome, {{ user.first_name | capitalize }}.</span>
                  <form method="get" action="/reserve-calendar?month=">
                      <button class="reserve-pickup-button">
                          <span class="front">
                            reserve pickup
                          </span>
                      </button>
                  </form>
              {% else %}
                  <span id="guest-welcome-message" class="welcome-message">Welcome. Sign up or log in to reserve a pickup.</span>
              {% endif %}
          </div>

          <!-- HIDDEN -->
          <!-- Signup Form -->
          <div style="display: none;" id="signup-form" class="access-form">
            <div class="signup-form form-section">
                <i onclick="hide_form('signup-form')" class='bx bx-x'></i>
                <div class="form-header">
                <h3>AthlEats SIGNUP</h3>
                <p>Please enter details to signup.</p>
              </div>
                <form name="signup" method="post">
                    <label>
                        <input required type="text" name="email" placeholder="email">
                    </label>
                    <label>
                        <input required type="password" name="pass" placeholder="password">
                    </label>
                    <label for="grade"></label><select required class="form-selection" name="grade" id="grade">
                            <option class="form-selection-placeholder" value="" disabled selected>grade</option>
                            <option style="color: #f4f4f4" value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                          </select>
                    <label for="tos"></label><select required class="form-selection" name="tos" id="tos">
                            <option class="form-selection-placeholder" value="" disabled selected>terms of service</option>
                            <option value="agree">agree</option>
                          </select>



                          <p style="display: none;" class="error-occurrence" id="error-occurrence">{{ signup_message }}</p>
                          <button id="submit-form-button" type="submit" value="SIGNUP" onclick="hide_button('submit-form-button')">SIGNUP</button>
                          <p class="message">Already have an account?
                            <a href="/login">Login here</a>
                          </p>
                            <a class="tos-agree-link" target="_blank" rel="noopener noreferrer" href="/terms-of-service">terms of service.</a>

              </form>
            </div>
          </div>
          <!-- Login Form -->
          <div style="display: none;" id="login-form" class="access-form">

              <div class="login-form form-section">
                  <i onclick="hide_form('login-form')" class='bx bx-x'></i>
                  <div class="form-header">
                    <h3>AthlEats LOGIN</h3>
                    <p>Please enter credentials to login.</p>
                </div>

                  <form name="login" method="post">
                      <label>
                          <input required type="text" name="email" placeholder="email">
                      </label>
                      <label>
                          <input required type="password" name="pass" placeholder="password">
                      </label>


                      <p style="display: none;" class="error-occurrence" id="error-occurrence">{{ message }}</p>

                      <button id="submit-form-button" type="submit" value="LOGIN" >LOGIN</button>
                      <p class="message">Not registered?
                        <a href="/login">Create an account</a>
                      </p>

                  </form>
              </div>
          </div>

          <div class="popular-restaurants">
              <h3>Popular Restaurants</h3>
              <div class="restaurant-list">
                  <div class="restaurant-visual">
                      <img src="https://static01.nyt.com/images/2018/06/22/business/22chipotle2/merlin_139925220_d45544db-5a97-47a2-b7a2-4d1b1fef4438-superJumbo.jpg" alt="">

                      <span class="restaurant-title">
                          Chipotle
                      </span>
                      <span class="restaurant-desc">
                          burritos, bowls, tacos, quesadillas, and salads
                      </span>
                  </div>
                  <div class="restaurant-visual">
                      <img src="https://hips.hearstapps.com/delish/assets/16/13/1459468219-cpigfbawuaakpel.jpg" alt="">
                      <span class="restaurant-title">
                          Dunkin Donuts
                      </span>
                      <span class="restaurant-desc">
                          freshly crafted beverages, sandwiches, and snacks served in a variety of delicious flavors
                      </span>
                  </div>
                  <div class="restaurant-visual">
                      <img src="https://s7d1.scene7.com/is/image/mcdonalds/mcdonalds-Chicken-McNuggets-Mighty-Kids-Meals:1-3-product-tile-desktop?wid=830&hei=516&dpr=off" alt="">
                      <span class="restaurant-title">
                          McDonalds
                      </span>
                      <span class="restaurant-desc">
                        Fast food with an assortment of sodas, burgers, chicken nuggets, ice cream, and more.
                      </span>
                  </div>
                  <div class="restaurant-visual">
                      <img src="https://www.lux-review.com/wp-content/uploads/2020/01/starbucks.jpg" alt="">
                      <span class="restaurant-title">
                          Starbucks
                      </span>
                      <span class="restaurant-desc">
                        Known for their beverages of coffee, espressos, aids, etc.
                      </span>
                  </div>
                  <div class="restaurant-visual">
                      <img src="https://www.tastingtable.com/img/gallery/20-best-panera-menu-items-ranked/l-intro-1647314434.jpg" alt="">
                      <span class="restaurant-title">
                          Panera
                      </span>
                      <span class="restaurant-desc">

                      </span>
                  </div>
                  <div class="restaurant-visual">
                      <img src="https://assets3.thrillist.com/v1/image/2835023/1200x630/flatten;crop_down;webp=auto;jpeg_quality=70" alt="">
                      <span class="restaurant-title">
                          Five Guys
                      </span>
                      <span class="restaurant-desc">

                      </span>
                  </div>
              </div>

          </div>

          <div class="process-visual-container">
              <div class="process-visual">
                  <div class="process-step">
                      <i class='bx bx-store-alt'></i>
                      <span class="process-info">
                          Place an order at your favorite restaurant
                      </span>
                  </div>
                  <div class="process-step">
                      <i class='bx bx-receipt' ></i>
                      <span class="process-info">
                          Submit a reserve form
                      </span>
                  </div>
                  <div class="process-step">
                    <img src="../static/images/car.png" alt="car">
                    <span class="process-info">
                        WHS student runners pick up your food
                    </span>
                  </div>
                  <div class="process-step">
                      <i class='bx bxs-school' ></i>
                      <span class="process-info">
                          Grab your food from a specified pickup location on campus
                      </span>
                  </div>
                  <div class="process-step">
                      <i class='bx bx-bowl-hot' ></i>
                      <span class="process-info">
                          Enjoy your food!
                      </span>
                  </div>

              </div>
          </div>
        <div class="athleats-photos-container">
            <div class="photo">
                <img alt="the crew" src="../static/images/athleats-crew-real.jpeg">
{#                <i class='bx bxs-circle'></i>#}
                <span class="photo-caption">The developers</span>
                <span class="photo-name wesley-tse">Wesley Tse</span>
                <span class="photo-name ben-stahl">Ben Stahl</span>
                <span class="photo-name matthew-watkins">Matthew Watkins</span>
                <span class="photo-name jake-zocco">Jake Zocco</span>
            </div>
        </div>



      </div>
    </section>
  </body>

  <!-- Popup Forms -->
  <script src="../static/scripts/access-forms.js"></script>

  {% if user %}
    <script src="../static/scripts/profile_dropdown.js"></script>
  {% endif %}

</html>
