<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="../static/home.css">
  <link rel="icon" href="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwaylandhs.sharpschool.net%2FUserFiles%2FServers%2FServer_1036540%2FImage%2FImages%2Fwaylandlogo_color.png&f=1&nofb=1">
<title> UCE - Login </title>

</head>
    <!-- Login Form -->
      <div id="login-form" class="access-form">
        <div class="login-form">
            <div class="form-header">
            <h3>UCE LOGIN</h3>
            <p>Please enter credentials to login.</p>
          </div>

          <form method="post">
              <input type="text" name="email" placeholder="email">
              <input type="password" name="pass" placeholder="password">

              {% if message %}
                <p class="error-occurrence" id="error-occurrence">{{ message }}</p>
              {% endif %}
              <button id="submit-form-button" type="submit" value="LOGIN" >LOGIN</button>
              <p class="message">Not registered?
                <a href="/login">Create an account</a>
              </p>

          </form>
        </div>


      </div>
    <script>
    function hide_button(idName) {
       var elementHid = document.querySelector(".form button");
       console.log("HIDDEN BUTTON FUNCTION OCCURRED!");
       elementHid.classList.toggle("active");


    }

  </script>
</html>