<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/styles/defaults.css">
    <link rel="stylesheet" href="../static/styles/nav_bar.css">
    <link rel="stylesheet" href="../static/styles/access_forms.css">
    <link rel="stylesheet" href="../static/styles/order-reserved.css">    <link rel="icon" href="../static/images/athleats-logo.png">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Order Confirmation - AthlEats </title>
   </head>

  <!-- Loading Activation -->
  <link href="../static/styles/loading.css" rel="stylesheet">
  <div class="loading-overlay"></div>
  <script src="../static/scripts/loading.js" ></script>

  <body>
    <section class="home-section">
      <nav>
          <img onclick="location.href = '/'; activateLoadingScreen(null)" class="athleats-logo" src="../static/images/athleats-logo.png" alt="athleats-logo">

            {% if user %}
              <div class="profile-details">
                <i class="bx bx-user-circle guest-profile-picture"></i>
                <span class="admin_name">{{user.first_name | capitalize}} {{user.last_name | capitalize }}</span>
                <i class='arrow bx bx-chevron-down' ></i>

              </div>
              <div style="visibility: hidden" class="profile-dropdown">
                      <ul>
                          <li id="profile-selection" onclick="location.href = '/profile'" ><a href="/profile">Profile</a></li>
                          <li onclick="document.location.href = document.location.origin + '/settings'" id="settings-selection">Settings</li>
                          {% if user.staff %}
                              <script>document.querySelector(".profile-dropdown").style.marginTop = "250px";</script>
                              <li onclick="location.href = '/staff-dashboard'" ><a href="/staff-dashboard">Staff Dashboard</a></li>
                          {% endif %}
                          {% if user.admin %}
                              <script>document.querySelector(".profile-dropdown").style.marginTop = "300px";</script>
                              <li onclick="location.href = '/admin-dashboard'" ><a href="/admin-dashboard">Admin Dashboard</a></li>

                          {% endif %}
                          <li onclick="location.href = '/logout'" class="last-option"><a href="/logout">Logout</a></li>
                      </ul>
                </div>

          {% endif %}


      </nav>

      <div class="home-content">

          <!-- Reserve Pickup Details -->
          <div id="reserve-form" class="access-form">
            <div class="reserve-form form-section">
                <div class="form-header">
                    <h3>Order Review</h3>
                </div>
                <div class="reserve-data-box">
                    <span class="reserve-data-header">
                        Pickup Fee: ${{fee}} <br> <br>
                        Send this fee to one of the following: <br>
                        Venmo: @ben-stahl-10 <br>
                        Paypal: <br>
                        Cashapp: $benastahl <br>
                        Cash: in person, round to 50 cents <br>
                    </span>

                    <span class="reserve-data-header">
                        Pickup Location: {{order.pickup_location}} <br>
                        Your runner: {{runner.first_name | capitalize}} {{runner.last_name | capitalize}}
                    </span>

                    <span class="reserve-data-header">
                        Pickup Time: 3:10 / 2:25pm <br>
                        Restaurant: {{order.restaurant}} <br>
                        Restaurant Pickup Time: {{order.restaurant_pickup_time}} <br>
                        Restaurant Pickup Name: {{order.pickup_name}} <br>
                        Order Phone Number: {{order.phone_number}} <br>
                    </span>

                    {% if user.entry_id == order.runner_entry_id %}
                    <form action="/order-complete" name="update-order" method="post">
                        <input type="hidden" id="entry_id" name="entry_id" value={{order.entry_id}}>
                        <button class="update-order-button" name="update-order" value="update-order" type="submit">
                            Update Order </button>
                    </form>
                    {% endif %}


{#                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2950.8587835227354!2d-71.40347662380701!3d42.30287857119835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e3888c2e5632bb%3A0x87d88d4862b86fc6!2sMcDonald&#39;s!5e0!3m2!1sen!2snl!4v1672059954839!5m2!1sen!2snl" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>#}

                </div>

            </div>
          </div>

      </div>
    </section>

  </body>

  {% if user %}
    <script src="../static/scripts/profile_dropdown.js"></script>
  {% endif %}

</html>

