<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/styles/defaults.css">
    <link rel="stylesheet" href="../static/styles/nav_bar.css">
      <link rel="stylesheet" href="../static/styles/admin-dashboard.css">
    <link rel="stylesheet" href="../static/styles/user_profile.css">
      <link rel="icon" href="../static/images/athleats-logo.png">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Profile - AthlEats </title>
   </head>

  <body>
    <section class="home-section">
      <nav>
          <img onclick="location.href = '/'" class="athleats-logo" src="../static/images/athleats-logo.png" alt="athleats-logo">

            {% if not user %}
              <div class="access-buttons-section">
                  <button onclick="show_form('login-form')" id="login-button" class="access-button"> LOGIN </button>
                  <button onclick="show_form('signup-form')" id="signup-button" class="access-button"> SIGNUP </button>
              </div>
            {% else %}
              <div class="profile-details">
                <i class="bx bx-user-circle guest-profile-picture"></i>
                <span class="admin_name">{{user.first_name | capitalize}} {{user.last_name | capitalize }}</span>
                <i class='arrow bx bx-chevron-down' ></i>

              </div>
              <div style="visibility: hidden" class="profile-dropdown">
                      <ul>
                          <li id="profile-selection" onclick="location.href = '/profile'" ><a href="/profile">Profile</a></li>
                          <li onclick="document.location.href = document.location.origin + '/settings'" id="settings-selection">Settings</li>
                          {% if user.staff %}
                              <script>document.querySelector(".profile-dropdown").style.marginTop = "250px";</script>
                              <li onclick="location.href = '/staff-dashboard'" ><a href="/staff-dashboard">Staff Dashboard</a></li>
                          {% endif %}
                          {% if user.admin %}
                              <script>document.querySelector(".profile-dropdown").style.marginTop = "300px";</script>
                              <li onclick="location.href = '/admin-dashboard'" ><a href="/admin-dashboard">Admin Dashboard</a></li>

                          {% endif %}
                          <li onclick="location.href = '/logout'" class="last-option"><a href="/logout">Logout</a></li>
                      </ul>
                </div>
            {% endif %}
      </nav>

      <div class="home-content">

          <!-- Profile Card -->
          <div class="acc-data-container">
              <div class="acc-data-information">
                  <div class="profile-card-main-info">
                      <i class='bx bx-user-circle'></i>
                      <span class="profile-card-name">{{ user.first_name | capitalize }} {{ user.last_name | capitalize }}</span>
                      <span class="profile-card-year">{{ user.year_name }}</span>
                  </div>
                  <div class="profile-card-info-container">
                    <div class="profile-card-info">
                        <div class="profile-info order-count">
                            <span class="profile-info-title">Account creation</span>
                            <span class="profile-info-value">{{ user.creation_date}}</span>
                        </div>
                        <div class="profile-info order-count">
                            <span class="profile-info-title">Order count</span>
                            <span class="profile-info-value">{{ user_order_list | length }}</span>
                        </div>
                        <div class="profile-info order-count">
                            <span class="profile-info-title">Email</span>
                            <span class="profile-info-value">{{ user.email }}</span>
                        </div>
                        <div class="profile-info order-count">
                            <span class="profile-info-title">Staff Member</span>
                            <span class="profile-info-value">{{ user.staff }}</span>
                        </div>
                        <div class="profile-info order-count">
                            <span class="profile-info-title">Administrator</span>
                            <span class="profile-info-value">{{ user.admin }}</span>
                        </div>
                    </div>
                  </div>
              </div>

          </div>


          <div class="acc-order-data-container">
              <h3 class="acc-data-header"> Order History </h3>
              <div class="acc-order-data-list">
                  {% for orders in user_order_list %}
                      <div class="acc-data receipt">
                        <div class="acc-data-header">
                            <h5>{{orders.order_date}}</h5>
                        </div>
                        <div class="acc-data-box">
                            <span class="acc-data-title">
                              Price:
                            </span>
                             <span class="acc-data-info">
                                 ${{orders.price}}
                            </span>
                        </div>
                        <div class="acc-data-box">
                            <span class="acc-data-title">
                              Pickup Time:
                            </span>
                            <span class="acc-data-info">
                              {{orders.pickup_time}}
                            </span>
                        </div>
                        <div class="acc-data-box">
                            <span class="acc-data-title">
                              Restaurant:
                            </span>
                            <span class="acc-data-info">
                              {{orders.restaurant}}
                            </span>
                        </div>
                      </div>
                  {% endfor %}






              </div>
              {% if not user_order_list %}
                  <div class="no-orders-container">
                      <span class="no-orders-message">No orders placed</span>
                  </div>
              {% endif %}

          </div>

      </div>
    </section>

  {% if user %}
    <script src="../static/scripts/profile_dropdown.js"></script>
  {% endif %}

  </body>

</html>

