<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/styles/defaults.css">
    <link rel="stylesheet" href="../static/styles/nav_bar.css">
    <link rel="stylesheet" href="../static/styles/calendar.css">
    <link rel="stylesheet" href="../static/styles/reserve_calendar.css">
    <link rel="icon" href="../static/images/athleats-logo.png">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Reservation Calendar - AthlEats </title>
   </head>

  <body>
    <section class="home-section">
      <nav>
          <img onclick="location.href = '/'" class="athleats-logo" src="../static/images/athleats-logo.png" alt="athleats-logo">

{#          <span onclick="location.href = '/'" class="navbar-title">UnderclassmenEats</span>#}
            {% if not user %}
              <div class="access-buttons-section">
                  <button onclick="show_form('login-form')" id="login-button" class="access-button"> LOGIN </button>
                  <button onclick="show_form('signup-form')" id="signup-button" class="access-button"> SIGNUP </button>
              </div>
          {% else %}
              <div class="profile-details">
                <i class="bx bx-user-circle guest-profile-picture"></i>
                <span class="admin_name">{{user.first_name | capitalize}} {{user.last_name | capitalize }}</span>
                <i class='arrow bx bx-chevron-down' ></i>

              </div>
              <div style="visibility: hidden" class="profile-dropdown">
                      <ul>
                          <li id="profile-selection" onclick="location.href = '/profile'" ><a href="/profile">Profile</a></li>
                          <li onclick="document.location.href = document.location.origin + '/settings'" id="settings-selection">Settings</li>
                          {% if user.staff %}
                              <script>document.querySelector(".profile-dropdown").style.marginTop = "250px";</script>
                              <li onclick="location.href = '/staff-dashboard'" ><a href="/staff-dashboard">Staff Dashboard</a></li>
                          {% endif %}
                          {% if user.admin %}
                              <script>document.querySelector(".profile-dropdown").style.marginTop = "300px";</script>
                              <li onclick="location.href = '/admin-dashboard'" ><a href="/admin-dashboard">Admin Dashboard</a></li>

                          {% endif %}
                          <li onclick="location.href = '/logout'" class="last-option"><a href="/logout">Logout</a></li>
                      </ul>
                </div>

          {% endif %}


      </nav>

      <div class="home-content">

          <div class="reserve-calendar-container">
              <div class="reserve-calendar-header">
                <h3>Reserve Availability</h3>
              </div>

              <div class="calendar-list">

                    <div class="calendar-container">
                      <div class="calendar-header">
                          <a href="/reserve-calendar?month={{ last_month_name }}"><i class='bx bx-chevron-left left' ></i></a>
                          <div class="date-header">
                            <h1>
                              {{month_name}}
                            </h1>
                            <p>{{year}}</p>
                          </div>
                          <a href="/reserve-calendar?month={{ next_month_name }}"><i class='bx bx-chevron-right right' ></i></a>
                      </div>
                      <div class="calendar">
                          <span class="day-name">Mon</span><span class="day-name">Tue</span><span class="day-name">Wed</span><span class="day-name">Thu</span><span class="day-name">Fri</span><span class="day-name">Sat</span><span class="day-name">Sun</span>

                          <!-- DISABLED DAYS (BEGINNING OF MONTH)-->
                          {% for _day in range(first_weekday) %}
                              <div class="day day--disabled">{{past_month_days - (first_weekday - _day - 1)}}</div>
                          {% endfor %}

                          <!-- REGULAR DAYS -->
                          {% for _day in range(num_days_in_month) %}

                              <!-- Available for pickup days -->
                              {% if _day + 1 in available_days %}
                                  <div onclick="location.href = '/reserve-form?availability={{ availabilities[0].entry_id }}'" class="day day--available">{{ _day + 1 }}</div>

                              <!-- Not available days -->
                              {% elif _day + 1 not in weekends %}
                                  <div  class="day">{{ _day + 1 }}</div>

                              <!-- Weekends -->
                              {% else %}
                                  <div class="day">{{_day + 1}}</div>

                              {% endif %}
                          {% endfor %}

                          <!-- DISABLED DAYS (END OF MONTH) -->
                          {% if next_month_weekday > 0 %}
                            {% for _day in range(7 - next_month_weekday) %}
                              <div class="day day--disabled">{{_day + 1}}</div>
                            {% endfor %}
                          {% endif %}

                      </div>
                    </div>

                    <!-- Calendar Time Slots Containers -->
                    {% for available_day in available_days %}
                        <div id="day-details-{{ available_day }}" class="calendar-day-container">
                            <table class="time-slots-table">
                                <tbody>
                                    <span class="date-header">12/{{ available_day }}/22</span>
                                    <tr>
                                        <th>Block</th>
                                        <th></th>
                                    </tr>
                                    {% for availability in availabilities %}
                                    <tr>
                                        <td>{{ availability.block }}</td>
                                        <td onclick="location.href = '/reserve-form?availability={{ availability.entry_id }}'" class="bx bxs-check-square"></td>
                                    </tr>
                                    {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    {% endfor %}

              </div>

          </div>

      </div>
    </section>

  </body>


    <!-- Calendar Day Details Popup -->
    <script>
        function show_day_details(day) {
            let dayy = parseInt(day);
            console.log("day-details-" + dayy);
            let day_popup = document.getElementById("day-details-" + dayy);

            if (day_popup) {
                console.log("Activated");
                day_popup.classList.toggle("active");
            }
        }
    </script>

    <!-- Calendar Dropdown -->
    <script>
        function dropdownFunc() {
            document.getElementById("month-dropdown").classList.toggle("show");
        }

        window.onclick = function(event) {
          if (!event.target.matches('.dropbtn')) {
            let dropdowns = document.getElementsByClassName("month-dropdown");
            let i;
            for (i = 0; i < dropdowns.length; i++) {
              let openDropdown = dropdowns[i];
              if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
              }
            }
          }
        }

    </script>

      {% if user %}
        <script src="../static/scripts/profile_dropdown.js"></script>
      {% endif %}
</html>

