<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/styles/defaults.css">
    <link rel="stylesheet" href="../static/styles/nav_bar.css">
    <link rel="stylesheet" href="../static/styles/access_forms.css">
    <link rel="stylesheet" href="../static/styles/reserve_pickup.css">
      <link rel="icon" href="../static/images/athleats-logo.png">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Reservation Form - AthlEats </title>
   </head>

  <body>
    <section class="home-section">
      <nav>
          <img onclick="location.href = '/'" class="athleats-logo" src="../static/images/athleats-logo.png" alt="athleats-logo">

            {% if not user %}
              <div class="access-buttons-section">
                  <button onclick="show_form('login-form')" id="login-button" class="access-button"> LOGIN </button>
                  <button onclick="show_form('signup-form')" id="signup-button" class="access-button"> SIGNUP </button>
              </div>
          {% else %}
              <div class="profile-details">
                <i class="bx bx-user-circle guest-profile-picture"></i>
                <span class="admin_name">{{user.first_name | capitalize}} {{user.last_name | capitalize }}</span>
                <i class='arrow bx bx-chevron-down' ></i>

              </div>
              <div style="visibility: hidden" class="profile-dropdown">
                      <ul>
                          <li id="profile-selection" onclick="location.href = '/profile'" ><a href="/profile">Profile</a></li>
                          <li onclick="document.location.href = document.location.origin + '/settings'" id="settings-selection">Settings</li>
                          {% if user.staff %}
                              <script>document.querySelector(".profile-dropdown").style.marginTop = "250px";</script>
                              <li onclick="location.href = '/staff-dashboard'" ><a href="/staff-dashboard">Staff Dashboard</a></li>
                          {% endif %}
                          {% if user.admin %}
                              <script>document.querySelector(".profile-dropdown").style.marginTop = "300px";</script>
                              <li onclick="location.href = '/admin-dashboard'" ><a href="/admin-dashboard">Admin Dashboard</a></li>

                          {% endif %}
                          <li onclick="location.href = '/logout'" class="last-option"><a href="/logout">Logout</a></li>
                      </ul>
                </div>

          {% endif %}


      </nav>

      <div class="home-content">

          <!-- Reserve Pickup Details -->
          <div id="reserve-form" class="access-form">
            <div class="reserve-form form-section">
                <div class="form-header">
                    <h3>How to Order</h3>
                </div>
                <div class="directions-desc">
                    Weiner weiner weiner weiner einer weiner weiner
                    weiner einer weiner
                    weiner weiner einer weiner weiner weiner
                </div>

                <a class="restaurant-link" href="https://youjustgotcoconutmalld.com/">Burger King</a>

            </div>
            <div class="reserve-form form-section">
                <div class="form-header">
                    <h3>Reserve Pickup Form</h3>
                </div>

                <form enctype="multipart/form-data" class="input-form" name="order-form" method="post">

                    <div class="form-input-container">
                        <input style="display: none" id="user_email" name="user_email" value="{{user.email}}">

                        <label for="input-dollar">Price:</label><br>
                        <input type="number" id="input-dollar" name="input-dollar" step="0.01" onkeyup="set_price_calc()" placeholder="00.00"><br>

                        <label for="receipt-upload">Upload receipt:</label><br>
                        <input type="file" id="receipt-upload" name="receipt-upload"><br>

                        <label for="restaurant">Choose A Restaurant:</label><br>
                        <select id="restaurant" name="restaurant" required>
                            <option disabled selected value=""></option>
                            <option value="Chipotle">Chipotle</option>
                            <option value="Panera">Panera</option>
                            <option value="mcdickies">McDicks</option>
                            <option value="Five-Guys">Five Guys</option>
                            <option value="Chick-Fil-A">Chick-Fil-a</option>
                            <option value="Dunkin">Dunkin Donuts</option>
                        </select>
                        <label for="phone-number">Phone Number:</label>
                        <input type="tel" id="phone-number" name="phone-number" placeholder="000-000-0000" maxlength="10"><br>

                        <label for="restaurant-pickup-time">Select Restaurant Pickup Time:</label><br>
                        <input type="time" id="restaurant-pickup-time" name="restaurant-pickup-time" min="09:00" max="18:00" required><br>

                        <label for="pickup">Select Pickup Time:</label><br>
                        <input type="time" id="pickup" name="pickup" min="09:00" max="18:00" required><br>

                        <label for="pickup-location">Select Pickup Location</label><br>
                        <input type="text" id="pickup-location" name="pickup-location" min="09:00" max="18:00" required><br>

                        <label for="sports-team">Select your sports team</label>
                        <select name="sports-team" id="sports-team" required>
                            <option value="" disabled selected></option>
                            {% for team in sports_teams %}
                                <option value="{{ team }}">{{ team }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="fee-output">Delivery Fee: meow XD</div>
                     <button id="submit-form-button" type="submit" value="order-form" >submit</button>

                </form>


              <form name="reserve" method="post">

                  <p style="display: none;" class="error-occurrence" id="error-occurrence">{{ login_message }}</p>

              </form>

            </div>
          </div>

      </div>
    </section>

  </body>

      <!-- Fee Calculator -->
    <script>
        function calculate_fees(price) {
            fee = price * .30;

            return fee;
        }

        function set_price_calc() {
                console.log("Setting price...");
                let total_price = calculate_fees(document.querySelector("#input-dollar").value);
                document.querySelector(".fee-output").innerHTML = "Delivery fee: $" + total_price;

        }
    </script>

      {% if user %}
        <script src="../static/scripts/profile_dropdown.js"></script>
      {% endif %}
</html>

