<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../static/styles/defaults.css">
    <link rel="stylesheet" href="../static/styles/nav_bar.css">
    <link rel="stylesheet" href="../static/styles/access_forms.css">
    <link rel="stylesheet" href="../static/styles/staff-dashboard.css">
    <link rel="stylesheet" href="../static/styles/loading.css">
    <link rel="icon" href="../static/images/athleats-logo.png">
    <title> Staff Dashboard - AthlEats </title>
   </head>

  <!-- Loading Activation -->
  <link href="../static/styles/loading.css" rel="stylesheet">
  <div class="loading-overlay"></div>
  <script src="../static/scripts/loading.js" ></script>

  <body>
    <section class="home-section">
      <nav>
          <img onclick="location.href = '/'; activateLoadingScreen(null)" class="athleats-logo" src="../static/images/athleats-logo.png" alt="AthlEats Logo">

          {% if not user %}
              <div class="access-buttons-section">
                  <button onclick="show_form('login-form')" id="login-button" class="access-button"> LOGIN </button>
                  <button onclick="show_form('signup-form')" id="signup-button" class="access-button"> SIGNUP </button>
              </div>
          {% else %}
              <div class="profile-details">
                <i class="bx bx-user-circle guest-profile-picture"></i>
                <span class="admin_name">{{user.first_name | capitalize}} {{user.last_name | capitalize }}</span>
                <i class='arrow bx bx-chevron-down' ></i>

              </div>
              <div style="visibility: hidden" class="profile-dropdown">
                      <ul>
                          <li id="profile-selection" onclick="location.href = '/profile'" ><a href="/profile">Profile</a></li>
                          <li onclick="show_form('settings-form')" id="settings-selection">Settings</li>
                          {% if user.staff %}
                              <script>document.querySelector(".profile-dropdown").style.marginTop = "250px";</script>
                              <li onclick="location.href = '/staff-dashboard'" ><a href="/staff-dashboard">Staff Dashboard</a></li>
                          {% endif %}
                          {% if user.admin %}
                              <script>document.querySelector(".profile-dropdown").style.marginTop = "300px";</script>
                              <li onclick="location.href = '/admin-dashboard'" ><a href="/admin-dashboard">Admin Dashboard</a></li>

                          {% endif %}
                          <li onclick="location.href = '/logout'" class="last-option"><a href="/logout">Logout</a></li>
                      </ul>
                </div>

          {% endif %}


      </nav>

      <div class="home-content">
        <!-- Popups -->
        <div class="new-availability-container">
            <div class="new-availability" id="new-availability">
                <i onclick="toggle_popup('new-availability')" class='bx bx-x'></i>
                <div class="header">
                    <h3>Schedule Availability</h3>
                </div>
                <form onsubmit="activateLoadingScreen('confirm-new-availability')" action="/new-availability" method="post">
                    <label>
                        Date
                        <input required type="date" name="date"> <!-- onfocus="this.min=tomorrow" -->
                    </label><br>
                    <label>
                        Block
                        <select required name="block">
                            <option selected disabled></option>
                            <option value="1:35-2:25pm">1:35-2:25pm (Wednesday Block 6)</option>
                            <option value="2:15-3:10pm">2:15-3:10pm (Normal Block 6)</option>
                            <option value="3:10-4:00pm">3:10-4:00pm</option>
                            <option value="4:00-5:00pm">4:00-5:00pm</option>
                        </select>
                    </label> <br>
                    <label>
                        Location
                        <select required name="location">
                            <option selected disabled></option>
                            <option value="1">Natick Plaza</option>
                            <option value="2">Chick/McDonalds</option>
                            <option value="4">Dunkin</option>
                            <option value="3">Wayland Pizza House</option>
                            <option value="0">All</option>
                        </select>
                    </label>
                    <button id="confirm-new-availability" type="submit" value="confirm">Confirm</button>

                    <!--
                    <label>
                        Start availability
                        <input type="time" id="start-availability">
                    </label><br>
                    <label>
                        End availability
                        <input disabled type="time" id="end-availability">
                    </label><br>
                    <script>
                        {#document.getElementById("start-availability").addEventListener(#}
                        {#    'input',#}
                        {#    function() {#}
                        {#        document.getElementById("end-availability").setAttribute('min', document.getElementById("start-availability").value)#}
                        {#        document.getElementById("end-availability").disabled = false#}
                        {#    }#}
                        {#)#}
                    </script>
                    -->
                </form>
            </div>
        </div>
        <div class="edit-availability-container">
            {% for availability in availabilities %}
                {% set availabilityNum = availabilities.index(availability) %}
                <div class="edit-availability" id="edit-availability-{{ availabilityNum }}">
                    <i onclick="toggle_popup('edit-availability-{{ availabilityNum }}')" class='bx bx-x'></i>
                    <div class="header">
                        <h3>Edit Availability</h3>
                    </div>
                    <form onsubmit="activateLoadingScreen('confirm-edit-availability-{{ availabilityNum }}')" action="/edit-availability" method="post">
                        <label>
                            Date
                            <input id="date" required onfocus="this.min=tomorrow" type="date" name="date" value={{ availability.date_string }}>
                        </label><br>
                        <label>
                            Block
                            <select required name="block">
                                <option selected disabled></option>
                                <option value="1:35-2:25pm">1:35-2:25pm (Wednesday Block 6)</option>
                                <option value="2:15-3:10pm">2:15-3:10pm (Normal Block 6)</option>
                                <option value="3:10-4:00pm">3:10-4:00pm</option>
                                <option value="4:00-5:00pm">4:00-5:00pm</option>
                            </select>
                        </label>
                        <label style="display: none;">
                            <input id="availability_entry_id" name="availability_entry_id" style="display: none;" value="{{ availability.entry_id }}">
                        </label>
                        <button id="confirm-edit-availability-{{ availabilityNum }}" style="background-color: cornflowerblue" type="submit">Confirm</button>
                        <button style="background-color: red" type="submit" formaction="/delete-availability" value="delete">Delete</button>
                        <script>
                            blockElement = document.querySelectorAll("#edit-availability-{{ availabilityNum }} option")[{{ availability.block | int }} - 3];
                            blockElement.selected = true;
                        </script>
                        <!-- Leave alone -->
                        <!--
                        <label>
                            Start availability
                            <input type="time" id="start-availability">
                        </label><br>
                        <label>
                            End availability
                            <input disabled type="time" id="end-availability">
                        </label><br>
                        <script>
                            document.getElementById("start-availability").addEventListener(
                                'input',
                                function() {
                                    document.getElementById("end-availability").setAttribute('min', document.getElementById("start-availability").value)
                                    document.getElementById("end-availability").disabled = false
                                }
                            )
                        </script>
                        -->
                    </form>
                </div>
            {% endfor %}
        </div>

        <div class="staff-dashboard-container">
          <div class="welcome-container">
              <div class="welcome">
                    <h1>Welcome to your runner dashboard, {{ user.first_name | capitalize }}. Thanks for being apart of the team!</h1>
              </div>
          </div>
          <div class="staff-containers">
              <div class="staff-container" id="availability">
                <div class="staff-container-header">
                    Your availability
                    <i onclick="toggle_popup('new-availability')" class='bx bxs-plus-circle' ></i>
                </div>
                <div class="table-container">
                    {% if availabilities %}
                        <table class="time-slots-table">
                            <tbody>
                                <tr>
                                    <th>Date</th>
                                    <th>Block</th>
                                    <th>Reserved</th>
                                    <th></th>
                                </tr>
                                {% for availability in availabilities %}
                                <tr id="availability-{{ availabilities.index(availability) }}">
                                    <td>{{ availability.date_string }}</td>
                                    <td>{{ availability.block }}</td>
                                    <td>{{ availability.reserved }}</td>
                                    {% if not availability.reserved %}
                                    <td onclick="toggle_popup('edit-availability-{{ availabilities.index(availability) }}')" class="bx bx-edit"></td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                </tr>
                                {% endfor %}
                            </tbody>
                      </table>
                    {% else %}
                        <div class="no-availabilities-message-container">
                            No availabilities scheduled
                        </div>
                    {% endif %}
                </div>
              </div>
              <div class="staff-container" id="run-schedule">
                  <div class="staff-container-header">
                    Your run schedule
                  </div>
                  <div class="table-container">
                  {% if reserved_availabilities %}
                    <table class="time-slots-table">
                        <tbody>
                            <tr>
                                <th>Date</th>
                                <th>Block</th>
                                <th></th>
                            </tr>
                            {% for availability in incomplete_reserved_orders %}
                            <tr>
                                <td>{{ availability.date_string }}</td>
                                <td>{{ availability.block }}</td>
                                <td onclick="location.href = '/order/{{ availability.order_entry_id }}'; activateLoadingScreen(null)" class="bx bx-receipt"></td>
<!--                                <td type="submit" onclick="activateLoadingScreen(null)" class="bx bx-check-square"></td>-->
                            </tr>
                            {% endfor %}
                        </tbody>
                  </table>
                  {% else %}
                      <div class="no-availabilities-message-container">
                          No runs reserved
                      </div>
                  {% endif %}
                  </div>
              </div>
              <div class="staff-container" id="completed-runs">
                  <div class="staff-container-header">
                    Your completed runs
                  </div>
                  <div class="table-container">
                    <table class="time-slots-table">
                        {% if completed_reserved_orders %}
                            <tbody>
                                <tr>
                                    <th>Date</th>
                                    <th>Rating</th>
                                    <th></th>

                                </tr>
                                {% for availability in completed_reserved_orders %}
                                <tr>
                                    <td>{{ availability.date_string }}</td>
                                    <td onclick="" class="bx bx-edit"></td>
                                    <td onclick="location.href = '/order/{{ availability.order_entry_id }}'; activateLoadingScreen(null)" class="bx bx-receipt"></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        {% else %}
                            <div style="text-underline: none;" class="no-availabilities-message-container">
                                No completed runs
                            </div>
                        {% endif %}

                  </table>
                  </div>
              </div>
              <div class="staff-container" id="analytics">
                      <div class="staff-container-header">
                          Your analytics
                      </div>
                  Idk coming soon maybe
              </div>
              <div class="staff-container" id="leaderboard">
                      <div class="staff-container-header">
                          Runner leaderboard
                      </div>
                  </div>
          </div>

      </div>



      </div>
    </section>
  </body>
  

  <script id="show-popup">
      function toggle_popup(id) {
          let popup = document.getElementById(id)
          popup.classList.toggle("revealed");
      }
  </script>

  <script>
    const today = new Date()
    // to return the date number(1-31) for the specified date
    console.log("today => ",today)
    let tomorrow =  new Date()
    tomorrow.setDate(today.getDate() + 1)
    tomorrow = tomorrow.toISOString().split('T')[0]
    //returns the tomorrow date
    console.log("tomorrow => ",tomorrow)
  </script>

  {% if user %}
    <script src="../static/scripts/profile_dropdown.js"></script>
  {% endif %}

</html>

