body {
    background-image: url("https://lh4.googleusercontent.com/-dw5Jyrhdpa0/AAAAAAAAAAI/AAAAAAAAAEw/90wzb8ji_jA/photo.jpg");

}

.error-container {
    display: flex;
    padding: 10px;
    flex-directionuce: column;
    align-content: center;
}

.error-header, .error-body {
    text-align: center;
    width: 700px;
    margin: auto;
    padding: 20px;
    background: #FFFFFF;
    border-radius: 40px;
}

.error-header {
    font-size: 60px;
    font-weight: 500;
}

