body {
    background-image: url("https://lh4.googleusercontent.com/-dw5Jyrhdpa0/AAAAAAAAAAI/AAAAAAAAAEw/90wzb8ji_jA/photo.jpg");

}

.error-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top: 280px;
}

.error-header, .error-body {
    text-align: center;
    margin: auto;
    padding: 25px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 40px;
}
a {
    font-size: 65px;
    text-decoration: none;
    color: black;
    padding: 10px;
    background: #CDEAFF;
    margin: 10px auto auto auto;
    border-radius: 50%;
    border: 3px rgba(255, 255, 255, 0.8) solid;
}
.error-header {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 20px;
}

