.home-section {
    background: #f5f5f5 url("https://wallpaper.dog/large/10755958.jpg");
}

.access-buttons-section {
  padding: 10px;
  opacity: 100%;
}
.home-content-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 175px;
}
.access-button, .reserve-pickup-button {
  margin: 10px;
  pointer-events: auto;
  text-transform: uppercase;
  outline: 0;
  border: 0;
  background-color: #FF9F00;
  border-radius: 50px;
  font-weight: bold;
  padding: 15px;
  color: #FFFFFF;
  font-size: 18px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  outline-offset: 4px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.access-button {
  font-size: 17px;
}
.reserve-pickup-button {
    background: hsl(340deg 89% 32%);
    border-radius: 50px;
    border: none;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
  }
.reserve-pickup-button .front {
  font-family: 'Poppins', sans-serif;
  display: block;
  padding: 12px 42px;
  border-radius: 50px;
  font-size: 40px;
  background: hsl(360, 89%, 61%);
  color: white;
  transform: translateY(-6px);
}
.reserve-pickup-button:active .front {
  transform: translateY(-2px);
}
.welcome-message {
  display: flex;
  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  font-size: 40px;
  /*width: 400px;*/
  padding: 5px 15px 5px 15px;
  background: rgba(244, 67, 67, 0.8);
  border-radius: 25px;
  margin: 10px 50px 10px 50px;
  text-align: center;
}
#guest-welcome-message {
  margin-top: 60px;
}

/* HOME POPULAR RESTAURANTS */
.popular-restaurants {
  position: absolute;
  background: #e9e9e9;
  border-radius: 10px;
  top: 550px;
  padding: 10px 20px;
  width: 1400px;
  margin-left: 20px;
}
.restaurant-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;

}
.restaurant-visual {
  margin-top: 10px;
    display: flex;
    flex-direction: column;
  width: 400px;
}
.restaurant-visual img{
    height: 230px;
    /*margin: 35px;*/
    border-radius: 10px;
    width: 400px;
}
.popular-restaurants h3 {
  font-size: 40px;
}

.restaurant-title {
    margin: 7px 0 0 0;
    font-weight: 700;
}
.restaurant-desc{
    font-weight: 200;
    font-size: 15px;
}
.form-header h3 {
  text-align: center;
  margin: 5px 0 15px 0;
}


.process-visual-container {
  top: 1100px;
  left: 50px;
  position: absolute;
}
.process-visual {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 160px;
  padding: 15px;
}
.process-visual i, .process-visual img {
  font-size: 100px;
  padding: 20px;
  background: #CDEAFF;
  color: #000200;
  height: 140px;
  width: 140px;
  border-radius: 40px;
  margin-bottom: 150px;
  /*hsl(360, 89%, 61%);*/
}
.process-visual img {
  height: 140px;
  width: 140px;
}
.process-visual .arrow {
  background: none;
}
.process-step .process-info {
  display: inline-block;
  background: #e9e9e9;
  border-radius: 16px;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  left: 130px;
  margin-top: 100px;
  width: 250px;
}

.athleats-photos-container {
  position: absolute;
  top: 1300px;
  left: 800px;
}
.athleats-photos-container .photo {

}
.photo .photo-caption, .photo .photo-name {
  display: inline-block;
  background: #e9e9e9;
  border-radius: 16px;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
  position: relative;
}
.photo .photo-caption {
  background: #CDEAFF;
  top: 0;
  left: 150px;

}
.photo-name.wesley-tse {
  bottom: 80px;
  left: 250px;
}
.photo-name.matthew-watkins {
  left: 400px;
  bottom: 550px;
}
.photo-name.jake-zocco {
  bottom: 550px;
  right: 250px;
}
.photo-name.ben-stahl {
  bottom: 100px;
  left: -380px;
}
.photo i {
  position: relative;
  font-size: 110px;
  right: 370px;
  bottom: 360px;
}
.athleats-photos-container img {
  border-radius: 10px;
  width: 500px;
  /*filter: contrast(2000%);*/
}

@media screen and (max-width: 650px) {
  .welcome-message {
    margin-top: 20px;
    font-size: 30px;
  }
  #guest-welcome-message {
    margin-top: 30px;
    font-size: 25px;
  }

  .popular-restaurants {
    width: 350px;
  }
  .reserve-pickup-button .front {
    font-size: 30px;
  }
  .popular-restaurants .restaurant-list {
    flex-direction: column;
  }
  .popular-restaurants img {
    width: auto;
    height: auto;
  }
  .popular-restaurants .restaurant-visual {
    width: 310px;
  }
  .popular-restaurants .restaurant-list {
    flex-direction: column;
  }

  .process-visual-container {
    top: 2650px;
    left: 0;
  }
  .athleats-photos-container {
    top: 4300px;
    left: 60px;
  }
  .athleats-photos-container .photo img {
    width: 250px;
  }

  .photo .photo-caption {
    top: 25px;
    left: 70px;
  }
  .photo .photo-caption, .photo .photo-name {
    padding: 10px;
    font-size: 15px;
  }
  .photo-name.jake-zocco {
    left: 45px;
    bottom: 220px;
  }
  .photo-name.wesley-tse {
    left: 80px;
    bottom: 30px;
  }
  .photo-name.matthew-watkins {
    left: -40px;
    bottom: 70px;
  }
  .photo-name.ben-stahl {
    left: -50px;
    bottom: 265px;
  }

}


