html {
  height: 800px;
}

/* Reserve Form (Calendar) */
.reserve-calendar-form {
  justify-content: space-between;
  margin: 50px auto;
}

.calendar-list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.calendar-container {
  margin: auto;
  max-height: 340px;
}
.calendar-day-container {
  display: flex;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 345px;
  max-width: 290px;
  overflow: hidden;
  width: 0;
  transition: width 2s;
}
.day-details-header {

}

.calendar-day-container.active {
  border: 1px solid black;
  width: 400px;
}
@media screen and (max-width: 650px) {
  .calendar-list {
    flex-wrap: wrap;
  }
}

.calendar-day-container span {
  display: flex;
}

.form-section {
  padding: 30px;
  width: min-content;
  max-width: none;
  justify-content: space-between;
}
.form-header h3 {
  text-align: center;
  font-size: 25px;
  margin: 0;
}

/* mobile */
.home-section.mobile .form-header h3 {
    font-size: 25px;
}
.home-section.mobile .reserve-calendar-form {
  margin: 65px auto;
}
.home-section.mobile .calendar-container {
}

.calendar-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.calendar-header i {
  color: black;
  margin-bottom: 20px;
  cursor: pointer;
}
.calendar-header .right {
  margin-left: 5px;
}
.calendar-header .left {
  margin-right: 5px;
}

.day--available {
  cursor: pointer;
  background: #4caf50a3;
}
.day {
  text-align: center;
}
