.access-form {
  display: flex;
  flex-direction: row;
}

/* Reserve Form */
#reserve-form .reserve-form {
  max-width: 750px;
  height: 100%;
  margin: 0 auto 10px auto;
}

.form-section {
    text-align: left;
}

.left-section {
    width: 900px;
    max-width: 900px;
}

.fee-output {
  margin: 10px 40px 20px 40px;
}


.access-form button {
  width: 60%;
}



.restaurant-dropdown {
    position: relative;
    top: 0px;
    left: 0;
    width: 600px;
    margin: 0;
    background: #393939;
    transition: 3s max-height ease-in-out;
    cursor: pointer;
    overflow: hidden;
  max-height: 0;
}
.restaurant-dropdown.active {
  max-height: 800px;
}

.dropdown-content {
    padding-left: 20px;
    padding-right: 20px;
}

.restaurant-link {
  font-size: 15px;
  max-width: 200px;
  margin: 10px;
}

.restaurant-logo  {
  width: 40px;
  height: 40px;
  max-width: 40px;
  max-height: 40px;
}

.restaurant-header {
      display: flex;
  flex-direction: row;
}

.restaurant-button {
  margin: 10px;
  background: #f4f4f4;
  border-radius: 10px;
  width: 600px;
  max-height: 40px;
    transition: 0.5s max-height ease-in-out;
    overflow: hidden;
}
.restaurant-button.active {
    max-height: 1200px;
}

.restaurant-selection {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  justify-content: space-between;

}

.bold {
    font-weight: bold;
}

.dropdown-images {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.dropdown-right {
    float: right;
    display: flex;
    flex-direction: column;
}

.dropdown-col {
    display: flex;
    flex-direction: column;
}

.input-form {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 650px) {
    .access-form {
      padding: 100px 10px;
      display: flex;
      flex-direction: column;
    }
    .left-section {
        width: 350px;
        margin-bottom: 10px;
    }
    .restaurant-button {
        width: auto;
    }
    .restaurant-selection {
        padding: 0;
    }
}
