.reserve-calendar-container {
  padding-top: 120px;
}
.reserve-calendar-header h3 {
  text-align: center;
  font-size: 25px;
  margin-bottom: 10px;
}

.calendar-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}
.calendar-container {
  margin: auto;

  max-height: 370px;
}
.calendar-day-container {
  display: flex;
  border-radius: 10px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
  max-height: 0;
  width: 400px;
  overflow: hidden;
  padding: 0;
  transition: all 0.5s ease-in-out;
  margin: auto;
}

.calendar-day-container.active {
  transition-delay: 0s;
  padding: 30px;
  border: 1px solid black;
  max-height: 700px;
}
.calendar-day-container span {
  display: flex;
}
table {
  border-spacing: 0;
  width: 300px;
  justify-content: space-between;
  border: 1px solid lightgray;
  border-bottom: none;
}
.header th {
  position: sticky;
  top: 0;
}
table td, table th {
  text-align: center;
  padding: 5px;
  max-width: 150px;
  white-space: nowrap;
  overflow: auto;
  border-bottom: 1px solid lightgray;
}
table tr:nth-child(odd) {
  background-color: #f4f4f4;
}
table th:nth-child(even), table td:nth-child(even) {
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
}
.date-header {
  background: #f4f4f4;
  font-weight: bold;
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}
td.bx {
  padding: 0;
  display: table-cell;
  font-size: 30px;
  width: 30px;
  color: #4caf50;
}

.calendar-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.calendar-header i {
  color: black;
  margin-bottom: 20px;
  cursor: pointer;
}
.calendar-header .right {
  margin-left: 5px;
}
.calendar-header .left {
  margin-right: 5px;
}

.day--available {
  cursor: pointer;
  background: #4caf50a3;
}
.day {
  text-align: center;
}

@media screen and (max-width: 650px) {
  .calendar-list {
    flex-wrap: wrap;
  }
}
